.venv
__pycache__
.vscode
dotnet/NacktBank/NacktBank.Models/bin/
dotnet/NacktBank/NacktBank.Models/obj/
dotnet/NacktBank/NacktBank.AgencySystem/bin/
dotnet/NacktBank/NacktBank.AgencySystem/obj/
OtherBank